* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;

}

body {
  background: #F5f5f5;
}


.sidebar {
  position: fixed;
  margin-left: -9999px;
  width: 130px;
  height: 340px;
  background: #042331;
  transition: .4s;
}

.sidebar h1 {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #063146;
}

.sidebar ul li a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  transition: .5s;
}

.sidebar ul li a:hover {
  padding-left: 20px;
}

#checkbox:checked ~ .sidebar {
    margin-left: 0px;
    transition: .5s;
    margin-top: 150px;
}

input {
  display: none;
}

.top img {
  float: right;
  position: absolute;
  top: 20px;
  right: 20px;
}

.header {
  width: 100%;
  height: 400px;
  text-align: center;
  background: url(image/background-beautiful-blossom-calm-waters-268533.jpg);
}

.header .title {
  line-height: 400px;
}

.top {
  position: fixed;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 80px;
  z-index: 999;
}

.top span {
  color: white;
  font-size: 30px;
  position: absolute;
  left: 20px;
  top: 15px;

}

.header h1 {
  /* text-align: center; */
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: inline-block;
  font-weight: 500;
  
}

.main {
  width: 100%;
  height: 1500px;
  
}

.main .content {
  margin: 0 auto;
  width: 90%;
  height: 1420px;
  margin-top: 40px;
  background: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.main .content .top-xx img {
  width: 120px;
  height: 150px;  
  margin: 20px 20px 20px 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.main .content .top-xx .list {
  display: block;
  padding: 0px 15px;
}

.main .content .top-xx .list p {
  color: #1e1e1e;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: "PingFang SC Regular";
  letter-spacing: 1px;
}

.main .content .top-xx .list span {
  color: #4e4e4e;  
  font-weight: 550;

}

.main .content .top-xx .skill {
  padding: 0px 15px;
  width: 90%;
  height: 256px;
  /* background: red; */
}

.main .content .top-xx .skill h2{
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main .content .top-xx .skill .fr {
  float: right;  
}

.main .content .top-xx .skill .jd {
  display: block;
  width: 100%;
  height: 20px;
  background: #cde1f8;
  margin: 5px 0px;
}

.main .content .top-xx .about {
  width: 90%;
  height: 780px;
  padding: 0px 15px;
  
}

.main .content .top-xx .about .about-font  {
  width: 100px;
  height: 40px;
  border-bottom: 3px solid #0078ff;
  display: block;
  padding-top: 1.5rem;
  margin-bottom: 30px;
}

.main .content .top-xx .about .about-font p {
  font-size: 30px;
  font-family: "黑体","微软雅黑","宋体","PingFang SC Regular";
}

.main .content .top-xx .about .information p {
  padding-bottom: 10px;
  font-family: "PingFang SC Regular";
  font-weight: 550;
  font-size: 20px;
  color: #4e4e4e;
}

.sample-reels {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.sample-reels .works {
  text-align: center;
  width: 100%;
  height: 150px;
}

.sample-reels .works h3 {
  font-size: 40px;
  margin-bottom: 10px;

}

.sample-reels .works p {
  color: #4e4e4e;
  margin-bottom: 10px;
}

.sample-reels .works span {
  width: 40px;
  height: 4px;
  background: #0078ff;
  display: block;
  margin: 0 auto;
}

.sample-reels .project .case {
  width: 100%;
  height: 320px;
  background: #Fff;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}


.sample-reels .project .case .case-one {
  width: 90%;
  height: 100%;
  padding: 0px 15px;
}

.sample-reels .project .case .case-one img {
  width: 100%;
  height: 200px;
}

.sample-reels .project .case .case-one .zt {
  padding: 10px 10px 0px 10px;  
}

.sample-reels .project .case .case-one p {
  font-size: 16.6px;  
  font-weight: 600;
  margin-bottom: 5px;
}

.self-improvement {
  width: 100%;
  height: 600px;
  margin-top: 80px;
  background-image: url(image/overlay-bg.jpg);
  background-size: 291%;  
  
}

.self-improvement .bg {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #0078ff;
  text-align: center;
}

.self-improvement .bg img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin-top: 150px;
  
}

.self-improvement .bg h2 {
  color: #Fff;
  padding: 10px 0px;
}

.self-improvement .bg p {
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  padding: 0px 10px;
}

.blog {
  width: 100%;
  height: 1500px;
  /* background: red; */
}
.blog .bk{
  text-align: center;
  width: 100%;
  height: 150px;
}

.blog .bk h3 {
  margin-top: 20px;
  margin-bottom:10px ;
  font-size: 40px;
}

.blog .bk p {
  color: #4e4e4e; 
  margin-bottom: 10px; 
}

.blog .bk span {
  display: block;
  width: 40px;
  height: 4px;
  background: #0078ff;  
  margin: 0 auto;
}

.blog .anli {
  width: 90%;
  height: 800px;
  margin: 0 auto;
}

.blog .anli .anli-one {
  width: 100%;
  height: 430px;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.blog .anli .anli-one img {
  width: 100%;
  height: 200px;
  
  
}

.blog .anli .anli-one h1{
  font-size: 25px;
  color: #0078ff;
  padding-bottom: 10px;
  padding: 5px;
  
}

.blog .anli .anli-one span {
  display: inline-block;
  text-align: center;
  padding: 2px 5px;
  background: #0078ff;
  border-radius: 4px;
  position: absolute;
  left: 130px;
  top: 185px;
  color: #fff;
}

.blog .anli .anli-one p {
  color: #4e4e4e;
  font-size: 16px;
  padding: 5px;
  line-height: 24px;
  border-bottom: 1px solid #cccc;
}

.blog .anli .anli-one .db img{
  width: 35px;
  height: 35px;
  border-radius: 30px;
  float: left;
  margin: 8px 5px;
}

.blog .anli .anli-one .db {
  height: 50px;
  line-height: 50px;
}

.blog .anli .anli-one .db .fl {
  float: left;
}

.blog .anli .anli-one .db z {
  color: #0078ff; 
  line-height: 35px;
}

.blog .anli .anli-one .fr {
  float: right;
}

.contact {
  width: 100%;
  height: 300px;
  
}

.contact .Base-map{
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(image/overlay-bg-1.jpg);
  background-size: 193%;
}

.contact .mode {
  width: 90%;
  height: 70%;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  left: 20px;
}


.contact .mode h2 {
  font-family: "黑体";
  padding: 10px 0px 10px 0px;border-bottom: 3px solid #0078ff;
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 5px;
}

.contact .mode ul li {
  margin-top: 3px;
}

.contact .mode ul li span{
  line-height: 35px;
  display: block;
  
}